
{% extends "main.html"%}
{% load static %}

{% block content %}
<body>
  <div class="nav">
    <a href="{% url 'home' %}"><div style="text-align:start; font-size: 30px;">&#8592;</div></a>


  </div>

<div class="carder">
  <div style="max-width: 1200px; text-align: center;">

    <div><img width="100%" height="300px" style="margin: 20px 0px; padding: 10px;" src="{% static 'images/slide3.jpg' %}" alt="Avatar" ></div>
    <p> bsTradeX is a tradding & minning platform </p>
    <p style="text-align:center; padding: 10px;">If you’re willing to invest your time and money in the financial markets, but aren’t sure you have the skill or experience, we have the perfect solution.

bsTradesX Invest enables you to access the opportunities of trading without any technical skills, and the minimum of time. Just choose to copy  bsTraderX (known as Strategy Managers) who are right for you and make their trading strategies available to follow, And with our minning machine which are running 24/7 use in minning crytocurrency. We’ll do the rest!

You’ll retain full control of your money, and you’ll only pay a fee to your Strategy Manager when they make a profitable trade.
bsTradesX is an international online Investment platform offering financial services in various financial instruments
    </p>


  </div>

</div>


<a href="https://wa.link/u4k6to" style="width:100px ;">      <div class="sticky" style="width: 100px;"><i class="fa fa-whatsapp" style="font-size: 75px; color: green;"></i></div>
</a>

<div class="navbar">
   <div> <a  href="{% url 'home'%}"> <i class="fa fa-home block active"></i>   Home </a></div>
   <div>  <a  href="{% url 'investment'%}" > <i class='fa fa-shopping-cart block ' ></i> Investment </a></div>
   <div> <a  href="{% url 'profile'%}"> <i class="fa fa-user block"></i> User </a></div>



</div>

</body>
{% endblock content %}