

{% extends "main.html"%}
{% load static %}
{% block content %}
<body>
  <div class="nav">
    <div> <img src="{% static 'images/logo1.png' %}"  style="height: 60px; margin-right:100px;"></div>
     {% if user.is_authenticated %}
    <div> <a href="{% url 'logout'%}"> <i class='fa fa-sign-in' style="font-size: 20px; margin-top: 17px;" > logout</i> </a> </div>
      {%else%}
    <div> <a href="{% url 'login_register' %}"> <i class='fa fa-sign-in' style="font-size: 20px; margin-top: 17px;" > login</i> </a>
      {% endif %}
    </div>

  </div>
    <body>


            {% if page == "login" %}
    <div class="main-body">
      <form class="reg-form" action="" method="POST">
           {% csrf_token %}

        <div class="main">
                          {% if messages %}
            <p class="messages">
                {% for message in messages %}
                <div class="btn text-danger btn-sm"> {{message}}</div>
                {% endfor %}
            </p>
                                 {% endif %}
          <div class="email-container">
            <input name="email" placeholder="Username" class="email" type="text" required />
          </div>
          <div class="password-container">
            <input name="password" placeholder="password" class="password" type="password" required />
          </div>

          <div class="button-container">
            <input class="button" type="submit" value="submit" />
          </div>
            <p class="note"> Not Registed ?  <a href="{% url 'register' %}"><span>Sign up </span></a></p>
        </div>
      </form>
    </div>
          {% else %}
       <div class="main-body">
      <form class="reg-form" action="" method="POST">
           {% csrf_token %}

        <div class="main">
             {% if messages %}
            <p class="messages">
                {% for message in messages %}
                <div class="btn text-danger btn-sm"> {{message}}</div>
                {% endfor %}
            </p>
                                 {% endif %}

          <div class="email-container">
              {{form.username}}

          </div>
          <div class="email-container">
               {{form.email}}

          </div>
          <div class="password-container">
              {{form.password1}}

          </div>
          <div class="password-container">
              {{form.password2}}

          </div>

          <div class="button-container">
            <input class="button" type="submit" value="Register" />
          </div>
            <p class="note"> Not Registed ?  <a href="{% url 'login_register' %}"><span>Login </span></a></p>
        </div>
      </form>
    </div>
    {% endif%}



<div class="navbar">
   <div> <a  href="{% url 'home'%}"> <i class="fa fa-home block "></i>   Home </a></div>
   <div>  <a  href="{% url 'investment'%}" > <i class='fa fa-shopping-cart block ' ></i> Investment </a></div>
   <div> <a  href="{% url 'profile'%}"> <i class="fa fa-user block active"></i> User </a></div>



</div>

</body>
{% endblock content %}