
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: rgba(31,43,79,255);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar a {

  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 10px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}
.block {
  display: block;
  font-size: 25px;

}
.active{
  color: #04AA6D;
}
.nav{
  overflow: hidden;
  background-color: rgba(31,43,79,255);
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  color: whitesmoke;
  padding: 0px 20px;
  text-align: end;
}
.mySlides {display:none;}

.mySlides{
  height: 200px;
  width: 100%;
}
body{
  background-color:#1a2134;
  color: aliceblue;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgba(40,46,73,255);


  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: 10px 0px;
  width: 100%;
}
.card-wrapper{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgba(40,46,73,255);

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(110, 108, 108, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}
.wrapper{

  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
.about{
  display: grid;
  grid-template-columns: 100px 1fr;
}
.machine{
    max-height: 100%;
    max-width: 100%;
}
b{
    color: greenyellow;
}
.mode{
    color: #cfcfcf;
    margin: 5px;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 25px;
    margin-left: 0px;
    padding: 50px;
    font-size: 20px;
  }

  /* for testimonial */
  #google_translate_element{
    display: none;
  }
  .negative{
    color: red;
  }

  .carder{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        background-color: rgba(40,46,73,255);
        text-align: center;
        margin: 20px 0px;
        width: 100%;


  }
  a{
    text-decoration: none;
    color: inherit;
  }
  .center-div{
           display: flex;
           flex-direction: row;
           justify-content: center;
  }